@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;
  color: #0f172a;
}

dialog {
  color: #0f172a;
}

*:focus-visible {
  outline: 1px solid #7dd3fc;
}

.header a {
  box-sizing: initial;
  opacity: 0.7;
}
.header a:hover {
  opacity: 0.8;
  border-bottom: 2px solid #7dd3fc;
}
.header a.active {
  opacity: 1;
  border-bottom: 2px solid #7dd3fc;
}
