name: unit tests

on:
  push:
    branches: [main, develop]
    paths-ignore:
      - README.md
  pull_request:
    branches: [main, develop]
    paths-ignore:
      - README.md
  workflow_dispatch:

jobs:
  run-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v3

      - name: Setup Node 18.x Environment
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        shell: bash
        run: |
          npm ci

      - name: Lint and format
        shell: bash
        run: |
          npm run lint -w server
          npm run lint -w client
          npm run format -w server
          npm run format -w client

      - name: Run tests
        shell: bash
        run: |
          npm run test:unit -w server -- --watch false
